@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* NORMALISE CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: rgb(76, 75, 22);
    --secondary-color: rgb(137, 129, 33);
    --third-color: rgb(231, 177, 10);
    --fourth-color: #F7F1E5;
}

body {
    background-color: var(--fourth-color);
}


/* book  */

.books {
    text-align: center;
}

.book {
    flex-basis: 50%;
    animation-duration: 1s;
    animation-name: slidein;
    position: relative;
}

@keyframes slidein {
    from {
        top: 100px;
    }
    to {
        top: 0;
    }
}

@media (min-width: 768px) {
    .book {
        flex-basis: 33%;
    }
}

@media (min-width: 992px) {
    .book {
        flex-basis: 25%;
    }
}

.book div {
    width: 100%;
    height: auto;
    max-height: 350px;
}

.book a {
    background-color: #4C4B16;
}


/* Single Book Page */

#book-image {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* Category nav */

#categoriesContainer a,
.category {
    padding: 0.3rem;
    margin: 0.2rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}